<%= form_for(@salesperson) do |f| %>
  <% if @salesperson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesperson.errors.count, "error") %> prohibited this salesperson from being saved:</h2>

      <ul>
      <% @salesperson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sp_fname, "First Name" %><br>
    <%= f.text_field :sp_fname %>
  </div>
  <div class="field">
    <%= f.label :sp_lname, "Last Name" %><br>
    <%= f.text_field :sp_lname %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
