<p id="notice"><%= notice %></p>

<h1>Salespeople</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Sales</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= salesperson.spfullname %></td>
        <td><%= salesperson.quotes.where(:is_sold => true).size %></td>
        <td><%= link_to 'Show', salesperson %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
        <td><%= link_to 'Delete', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Salesperson', new_salesperson_path %>
