<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @salesperson.sp_fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @salesperson.sp_lname %>
</p>

<p>
  <strong>Total Sales:</strong>
  <%= @salesperson.quotes.where(:is_sold => true).size %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
