<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :custfullname %>
  </div>
  <div class="field">
    <%= f.label :vehicle %><br>
    <%= f.collection_select :vehicle_id, Vehicle.all, :id, :vin %>
  </div>
  <div class="field">
    <%= f.label :salesperson %><br>
    <%= f.collection_select :salesperson_id, Salesperson.all, :id, :spfullname %>
  </div>
  <div class="field">
    <%= f.label :sale_price %><br>
    <%= f.text_field :sale_price %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :payment_years %><br>
    <%= f.select :payment_years, Quote.pay_years %>
  </div>
  <div class="field">
    <%= f.label :is_sold, "Sold?" %><br>
    <%= f.radio_button :is_sold, true %><label>Yes</label><br>
    <%= f.radio_button :is_sold, false %><label>No</label>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
