<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Vehicle</th>
      <th>Salesperson</th>
      <th>Sale price</th>
      <th>Interest rate</th>
      <th>Payment years</th>
      <th>Sold?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer.custfullname %></td>
        <td><%= quote.vehicle.vin %></td>
        <td><%= quote.salesperson.spfullname %></td>
        <td><%= number_to_currency(quote.sale_price) %></td>
        <td><%= number_to_percentage(quote.interest_rate) %></td>
        <td><%= quote.payment_years %></td>
        <td><%= yesno(quote.is_sold) %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Quote', new_quote_path %>
