<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.custfullname %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.vin %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.salesperson.spfullname %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @quote.sale_price %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @quote.interest_rate %>
</p>

<p>
  <strong>Payment years:</strong>
  <%= @quote.payment_years %>
</p>

<p>
  <strong>Sold?</strong>
  <%= yesno(@quote.is_sold) %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
