<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.cust_fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.cust_lname %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
