/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
    background-color: #93B1C6;

 }

body {
    background-color: #C7D0D5;
    border: 2px solid black;
    font-size: 96%;
    padding: .2em .2em .2em .2em;
    margin: .4em .4em .4em .4em;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
}

.field {
    text-align: left;
    margin-left: 20em;
    font-size: 1em;
}

p {
    text-align: left;
    margin-left: 23em;
    font-size: 1em;
}

table {
    padding: 3em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #93B1C6;
    border-spacing: 2px;
    border-collapse: collapse;
    vertical-align: baseline;
}
thead {
    background-color: #93B1C6;
}
td, thead, tr, th {
    border: 1px solid #6c8091;
    border-collapse: collapse;
    font-size: 1em;
}

a:visited {
    color: black;
}

a:hover {
    color: #ffffff;
}


html {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: white;

}