<!DOCTYPE html>
<html>
<head>
  <title>Thomas Auto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  <%= link_to :Home, home_index_url %>
  <%= link_to :Customers, customers_path %>
  <%= link_to :Vehicles, vehicles_path %>
  <%= link_to :Salespeople, salespeople_path %>
  <%= link_to :Quotes, quotes_path %>
  </div>
<%= yield %>
</body>
</html>
