<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.number_field :vin %>
  </div>
  <div class="field">
    <%= f.label :wholesale_price, "Wholesale Price" %><br>
    <%= f.text_field :wholesale_price, :value=>number_to_currency(f.object.wholesale_price) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
