<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<%= form_tag(vehicles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Wholesale price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.vin %></td>
        <td><%= number_to_currency(vehicle.wholesale_price) %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Vehicle', new_vehicle_path %>
